flows_DESKTOP-9D53UGQ.json
[{"id":"7e9c7d18.dcc3d4","type":"tab","label":"inject","disabled":false,"info":""},{"id":"82220c14.9f9cc","type":"tab","label":"switch","disabled":false,"info":""},{"id":"4f2d3df.1cef6c4","type":"tab","label":"Dashboard","disabled":false,"info":""},{"id":"f4d73dcc.be0ff8","type":"tab","label":"Telegram","disabled":false,"info":""},{"id":"b8fe5066.ee2138","type":"tab","label":"Variables","disabled":false,"info":""},{"id":"4d086d3c.3fd78c","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#333333","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"3b89f8c.80a0c08","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"46efc115.9e6568","type":"ui_group","z":"","name":"Default","tab":"3b89f8c.80a0c08","order":1,"disp":true,"width":"6","collapse":false},{"id":"c9cc7726.e0d48","type":"ui_tab","z":"","name":"Control","icon":"dashboard","disabled":false,"hidden":false},{"id":"354314b2.a6414c","type":"ui_group","z":"","name":"Inidicadores","tab":"c9cc7726.e0d48","order":1,"disp":true,"width":"12","collapse":false},{"id":"df6c6660.7c1048","type":"telegrambot-config","z":"","botname":"MiCursoRaspUTXJBot","usernames":"","chatIds":"","pollInterval":"300"},{"id":"100b2627.ae1892","type":"inject","z":"7e9c7d18.dcc3d4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"test","payload":"Hola Mundo","payloadType":"str","x":200,"y":80,"wires":[["64ff649f.5ccabc"]]},{"id":"64ff649f.5ccabc","type":"debug","z":"7e9c7d18.dcc3d4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":370,"y":20,"wires":[]},{"id":"d6b53923.aa1ae8","type":"inject","z":"82220c14.9f9cc","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Hola","payloadType":"str","x":120,"y":100,"wires":[["4ac0c98f.0a96a"]]},{"id":"6b9051da.27295","type":"inject","z":"82220c14.9f9cc","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Adios","payloadType":"str","x":120,"y":180,"wires":[["4ac0c98f.0a96a"]]},{"id":"4ac0c98f.0a96a","type":"switch","z":"82220c14.9f9cc","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Hola","vt":"str"},{"t":"eq","v":"Adios","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":280,"y":140,"wires":[["f0a4ef95.379e08"],["6c3fbb69.93187c"]]},{"id":"f0a4ef95.379e08","type":"debug","z":"82220c14.9f9cc","name":"Hola","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":450,"y":100,"wires":[]},{"id":"6c3fbb69.93187c","type":"debug","z":"82220c14.9f9cc","name":"Adios","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":450,"y":160,"wires":[]},{"id":"1c2e2b67.a9a935","type":"ui_button","z":"4f2d3df.1cef6c4","name":"","group":"46efc115.9e6568","order":0,"width":0,"height":0,"passthru":false,"label":"Push","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Saludos a todos","payloadType":"str","topic":"","x":300,"y":800,"wires":[["4eab5413.2e3c24"]]},{"id":"4eab5413.2e3c24","type":"ui_audio","z":"4f2d3df.1cef6c4","name":"","group":"46efc115.9e6568","voice":"es-MX","always":true,"x":460,"y":800,"wires":[]},{"id":"2af0cdf9.fa8382","type":"ui_gauge","z":"4f2d3df.1cef6c4","name":"","group":"354314b2.a6414c","order":0,"width":0,"height":0,"gtype":"wave","title":"Medición","label":"Litros","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":510,"y":900,"wires":[]},{"id":"7c1af015.766be8","type":"ui_slider","z":"4f2d3df.1cef6c4","name":"","label":"Medidas","tooltip":"","group":"354314b2.a6414c","order":1,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":0,"max":"100","step":1,"x":300,"y":860,"wires":[["2af0cdf9.fa8382","bb98222c.bd2f48"]]},{"id":"840ee55c.b6ba98","type":"random","z":"4f2d3df.1cef6c4","name":"","low":"1","high":"100","inte":"true","property":"payload","x":160,"y":860,"wires":[["7c1af015.766be8"]]},{"id":"20a86a07.374ff6","type":"inject","z":"4f2d3df.1cef6c4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":70,"y":1020,"wires":[["840ee55c.b6ba98"]]},{"id":"bb98222c.bd2f48","type":"ui_chart","z":"4f2d3df.1cef6c4","name":"","group":"354314b2.a6414c","order":2,"width":0,"height":0,"label":"Grafica","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"20","removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":510,"y":980,"wires":[[]]},{"id":"f11e0f75.dc874","type":"telegrambot-command","z":"f4d73dcc.be0ff8","name":"","bot":"df6c6660.7c1048","command":"hola","commandType":"re","commandCase":false,"x":330,"y":220,"wires":[["597bed7c.83e11c","fc4926a2.03d368"]]},{"id":"597bed7c.83e11c","type":"telegrambot-notify","z":"f4d73dcc.be0ff8","name":"","bot":"df6c6660.7c1048","chatId":"","message":"","parseMode":"","x":620,"y":240,"wires":[]},{"id":"fc4926a2.03d368","type":"debug","z":"f4d73dcc.be0ff8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":610,"y":160,"wires":[]},{"id":"375cb6ab.1ac22a","type":"inject","z":"b8fe5066.ee2138","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":170,"y":100,"wires":[["b9d7202.6cab9e"]]},{"id":"b9d7202.6cab9e","type":"change","z":"b8fe5066.ee2138","name":"","rules":[{"t":"set","p":"variable1","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":120,"wires":[[]]},{"id":"5d94d6b6.4eff68","type":"inject","z":"b8fe5066.ee2138","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"variable1","payloadType":"flow","x":170,"y":300,"wires":[["bd38d10b.7dc518"]]},{"id":"bd38d10b.7dc518","type":"debug","z":"b8fe5066.ee2138","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":410,"y":280,"wires":[]},{"id":"2c95fcb.e3f2004","type":"inject","z":"b8fe5066.ee2138","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Hola","payloadType":"str","x":150,"y":140,"wires":[["b9d7202.6cab9e"]]},{"id":"b5b03b4b.f9c488","type":"inject","z":"b8fe5066.ee2138","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"33","payloadType":"num","x":150,"y":180,"wires":[["b9d7202.6cab9e"]]},{"id":"5eb7b051.cb6cc","type":"function","z":"b8fe5066.ee2138","name":"","func":"var variableNodo = flow.get('variable1');\n\nif(variableNodo ==33){\n    msg.payload = 'Numero = ' + variableNodo;\n}\nelse if(variableNodo == 'Hola'){\n    msg.payload = 'Se escribio la cadena --> '+ variableNodo;\n}\nelse{\n    msg.payload = variableNodo;\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":460,"wires":[["63162057.60cfa8"]]},{"id":"cc9a1c43.511af","type":"comment","z":"b8fe5066.ee2138","name":"Estos nodos escriben variables de tipo flow","info":"","x":280,"y":60,"wires":[]},{"id":"135b1914.a81a4f","type":"comment","z":"b8fe5066.ee2138","name":"Estos nodos leen variables de tipo flow","info":"","x":260,"y":240,"wires":[]},{"id":"1239bb0.17d2f45","type":"inject","z":"b8fe5066.ee2138","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":440,"wires":[["5eb7b051.cb6cc"]]},{"id":"63162057.60cfa8","type":"debug","z":"b8fe5066.ee2138","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":570,"y":440,"wires":[]},{"id":"c861a38b.4d61b8","type":"comment","z":"b8fe5066.ee2138","name":"En este apartado se permite codigo JavaScript","info":"","x":250,"y":380,"wires":[]}]