flows_DESKTOP-9D53UGQ.json
[{"id":"7e9c7d18.dcc3d4","type":"tab","label":"inject","disabled":false,"info":""},{"id":"82220c14.9f9cc","type":"tab","label":"switch","disabled":false,"info":""},{"id":"4f2d3df.1cef6c4","type":"tab","label":"Dashboard","disabled":false,"info":""},{"id":"f4d73dcc.be0ff8","type":"tab","label":"Telegram","disabled":false,"info":""},{"id":"b8fe5066.ee2138","type":"tab","label":"Variables","disabled":false,"info":""},{"id":"c697b1e5.a70cc8","type":"tab","label":"MQTT","disabled":false,"info":""},{"id":"9d641e0c.40e228","type":"tab","label":"ngrok","disabled":false,"info":""},{"id":"2dd651e6.cc1366","type":"tab","label":"NombreEquipo","disabled":false,"info":""},{"id":"2308eef5.c9fcca","type":"tab","label":"Nora","disabled":false,"info":""},{"id":"c877df74.d38288","type":"tab","label":"Nora_2","disabled":false,"info":""},{"id":"4d086d3c.3fd78c","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#333333","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"3b89f8c.80a0c08","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"46efc115.9e6568","type":"ui_group","z":"","name":"Default","tab":"3b89f8c.80a0c08","order":1,"disp":true,"width":"6","collapse":false},{"id":"c9cc7726.e0d48","type":"ui_tab","z":"","name":"Control","icon":"dashboard","disabled":false,"hidden":false},{"id":"354314b2.a6414c","type":"ui_group","z":"","name":"Inidicadores","tab":"c9cc7726.e0d48","order":1,"disp":true,"width":"12","collapse":false},{"id":"df6c6660.7c1048","type":"telegrambot-config","z":"","botname":"MiCursoRaspUTXJBot","usernames":"","chatIds":"","pollInterval":"300"},{"id":"b41765bb.61a42","type":"mqtt-broker","z":"","name":"","broker":"18.222.217.2","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"c05e094a.9d79c","type":"mqtt-broker","z":"","name":"","broker":"iot.inventoteca.com","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"b36e9e0b.77c3","type":"ngrokauth","z":""},{"id":"317a0052.454498","type":"nora-config","z":"","name":"nora config","group":"","notify":false},{"id":"100b2627.ae1892","type":"inject","z":"7e9c7d18.dcc3d4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"test","payload":"Hola Mundo","payloadType":"str","x":200,"y":80,"wires":[["64ff649f.5ccabc"]]},{"id":"64ff649f.5ccabc","type":"debug","z":"7e9c7d18.dcc3d4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":370,"y":20,"wires":[]},{"id":"d6b53923.aa1ae8","type":"inject","z":"82220c14.9f9cc","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Hola","payloadType":"str","x":120,"y":100,"wires":[["4ac0c98f.0a96a"]]},{"id":"6b9051da.27295","type":"inject","z":"82220c14.9f9cc","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Adios","payloadType":"str","x":120,"y":180,"wires":[["4ac0c98f.0a96a"]]},{"id":"4ac0c98f.0a96a","type":"switch","z":"82220c14.9f9cc","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Hola","vt":"str"},{"t":"eq","v":"Adios","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":280,"y":140,"wires":[["f0a4ef95.379e08"],["6c3fbb69.93187c"]]},{"id":"f0a4ef95.379e08","type":"debug","z":"82220c14.9f9cc","name":"Hola","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":450,"y":100,"wires":[]},{"id":"6c3fbb69.93187c","type":"debug","z":"82220c14.9f9cc","name":"Adios","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":450,"y":160,"wires":[]},{"id":"1c2e2b67.a9a935","type":"ui_button","z":"4f2d3df.1cef6c4","name":"","group":"46efc115.9e6568","order":0,"width":0,"height":0,"passthru":false,"label":"Push","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Saludos a todos","payloadType":"str","topic":"","x":300,"y":800,"wires":[["4eab5413.2e3c24"]]},{"id":"4eab5413.2e3c24","type":"ui_audio","z":"4f2d3df.1cef6c4","name":"","group":"46efc115.9e6568","voice":"es-MX","always":true,"x":760,"y":800,"wires":[]},{"id":"2af0cdf9.fa8382","type":"ui_gauge","z":"4f2d3df.1cef6c4","name":"","group":"354314b2.a6414c","order":0,"width":0,"height":0,"gtype":"wave","title":"Medición","label":"Litros","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":510,"y":900,"wires":[]},{"id":"7c1af015.766be8","type":"ui_slider","z":"4f2d3df.1cef6c4","name":"","label":"Medidas","tooltip":"","group":"354314b2.a6414c","order":1,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":0,"max":"100","step":1,"x":300,"y":860,"wires":[["2af0cdf9.fa8382","bb98222c.bd2f48"]]},{"id":"840ee55c.b6ba98","type":"random","z":"4f2d3df.1cef6c4","name":"","low":"1","high":"100","inte":"true","property":"payload","x":160,"y":860,"wires":[["7c1af015.766be8"]]},{"id":"20a86a07.374ff6","type":"inject","z":"4f2d3df.1cef6c4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":70,"y":1020,"wires":[["840ee55c.b6ba98"]]},{"id":"bb98222c.bd2f48","type":"ui_chart","z":"4f2d3df.1cef6c4","name":"","group":"354314b2.a6414c","order":2,"width":0,"height":0,"label":"Grafica","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"20","removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":510,"y":980,"wires":[[]]},{"id":"f11e0f75.dc874","type":"telegrambot-command","z":"f4d73dcc.be0ff8","name":"","bot":"df6c6660.7c1048","command":"hola","commandType":"re","commandCase":false,"x":210,"y":220,"wires":[["fc4926a2.03d368","39bd8806.f28e6","64b80a5.02323f4"]]},{"id":"fc4926a2.03d368","type":"debug","z":"f4d73dcc.be0ff8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":450,"y":100,"wires":[]},{"id":"375cb6ab.1ac22a","type":"inject","z":"b8fe5066.ee2138","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":170,"y":100,"wires":[["b9d7202.6cab9e"]]},{"id":"b9d7202.6cab9e","type":"change","z":"b8fe5066.ee2138","name":"","rules":[{"t":"set","p":"variable1","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":120,"wires":[[]]},{"id":"5d94d6b6.4eff68","type":"inject","z":"b8fe5066.ee2138","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"variable1","payloadType":"flow","x":170,"y":300,"wires":[["bd38d10b.7dc518"]]},{"id":"bd38d10b.7dc518","type":"debug","z":"b8fe5066.ee2138","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":410,"y":280,"wires":[]},{"id":"2c95fcb.e3f2004","type":"inject","z":"b8fe5066.ee2138","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Hola","payloadType":"str","x":150,"y":140,"wires":[["b9d7202.6cab9e"]]},{"id":"b5b03b4b.f9c488","type":"inject","z":"b8fe5066.ee2138","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"33","payloadType":"num","x":150,"y":180,"wires":[["b9d7202.6cab9e"]]},{"id":"5eb7b051.cb6cc","type":"function","z":"b8fe5066.ee2138","name":"variables","func":"var variableNodo = flow.get('variable1');\n\nif(variableNodo ==33){\n    msg.payload = 'Numero = ' + variableNodo;\n}\nelse if(variableNodo == 'Hola'){\n    msg.payload = 'Se escribio la cadena --> '+ variableNodo;\n}\nelse{\n    msg.payload = variableNodo;\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":460,"wires":[["63162057.60cfa8"]]},{"id":"cc9a1c43.511af","type":"comment","z":"b8fe5066.ee2138","name":"Estos nodos escriben variables de tipo flow","info":"","x":280,"y":60,"wires":[]},{"id":"135b1914.a81a4f","type":"comment","z":"b8fe5066.ee2138","name":"Estos nodos leen variables de tipo flow","info":"","x":260,"y":240,"wires":[]},{"id":"1239bb0.17d2f45","type":"inject","z":"b8fe5066.ee2138","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":440,"wires":[["5eb7b051.cb6cc"]]},{"id":"63162057.60cfa8","type":"debug","z":"b8fe5066.ee2138","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":570,"y":440,"wires":[]},{"id":"c861a38b.4d61b8","type":"comment","z":"b8fe5066.ee2138","name":"En este apartado se permite codigo JavaScript","info":"","x":250,"y":380,"wires":[]},{"id":"2a438722.03b4c","type":"telegrambot-switch","z":"f4d73dcc.be0ff8","name":"Pregunta puedo ayudarte","bot":"df6c6660.7c1048","chatId":"","question":"Hola en que puedo ayudarte?","answers":["Nada","En todo"],"outputs":2,"autoAnswerCallback":true,"timeoutValue":"","timeoutUnits":"","x":610,"y":220,"wires":[["3d8f09db.8dd9ee"],["50417237.391a84"]]},{"id":"3d8f09db.8dd9ee","type":"change","z":"f4d73dcc.be0ff8","name":"Sin ayuda","rules":[{"t":"set","p":"payload","pt":"msg","to":"A bueno","tot":"str"},{"t":"set","p":"var1","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":820,"y":200,"wires":[["24ec0728.d40e8"]]},{"id":"50417237.391a84","type":"change","z":"f4d73dcc.be0ff8","name":"Con ayuda","rules":[{"t":"set","p":"payload","pt":"msg","to":"Me da mucho gusto","tot":"str"},{"t":"set","p":"var1","pt":"flow","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":240,"wires":[["24ec0728.d40e8"]]},{"id":"24ec0728.d40e8","type":"telegrambot-notify","z":"f4d73dcc.be0ff8","name":"Respuesta","bot":"df6c6660.7c1048","chatId":"","message":"","parseMode":"","x":990,"y":200,"wires":[]},{"id":"39bd8806.f28e6","type":"change","z":"f4d73dcc.be0ff8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"telegram.from.first_name","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":340,"wires":[["1b97bd2e.b94813"]]},{"id":"1b97bd2e.b94813","type":"link out","z":"f4d73dcc.be0ff8","name":"telegram-usuario","links":["67577f4c.6fc76"],"x":635,"y":340,"wires":[]},{"id":"67577f4c.6fc76","type":"link in","z":"b8fe5066.ee2138","name":"variableUsuario","links":["1b97bd2e.b94813"],"x":115,"y":580,"wires":[["16b08755.7527b9"]]},{"id":"16b08755.7527b9","type":"function","z":"b8fe5066.ee2138","name":"link","func":"msg.payload = 'Hola ' + msg.payload;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":580,"wires":[["75b47985.cd12f8"]]},{"id":"92096952.0d95d8","type":"comment","z":"b8fe5066.ee2138","name":"Conexion de nodos link","info":"","x":200,"y":520,"wires":[]},{"id":"75b47985.cd12f8","type":"link out","z":"b8fe5066.ee2138","name":"variableLink","links":["b01f5adc.87d6c8"],"x":435,"y":580,"wires":[]},{"id":"b01f5adc.87d6c8","type":"link in","z":"f4d73dcc.be0ff8","name":"","links":["75b47985.cd12f8"],"x":825,"y":340,"wires":[["24ec0728.d40e8"]]},{"id":"64b80a5.02323f4","type":"delay","z":"f4d73dcc.be0ff8","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":420,"y":220,"wires":[["2a438722.03b4c"]]},{"id":"50b66813.e8132","type":"mqtt out","z":"c697b1e5.a70cc8","name":"","topic":"curso","qos":"0","retain":"","broker":"b41765bb.61a42","x":330,"y":320,"wires":[]},{"id":"820fe9ee.7ef928","type":"inject","z":"c697b1e5.a70cc8","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Hola","payloadType":"str","x":140,"y":320,"wires":[["50b66813.e8132"]]},{"id":"284828ac.f56018","type":"debug","z":"c697b1e5.a70cc8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":330,"y":400,"wires":[]},{"id":"deb530af.f4dde8","type":"mqtt in","z":"c697b1e5.a70cc8","name":"","topic":"curso/#","qos":"0","datatype":"auto","broker":"b41765bb.61a42","x":140,"y":400,"wires":[["284828ac.f56018"]]},{"id":"20e778fc.7c693","type":"ui_text_input","z":"4f2d3df.1cef6c4","name":"","label":"Chat","tooltip":"","group":"46efc115.9e6568","order":2,"width":0,"height":0,"passthru":false,"mode":"text","delay":"0","topic":"","x":340,"y":1080,"wires":[["7dcf3431.aa4c9c","1a81faf5.7a76f5"]]},{"id":"7dcf3431.aa4c9c","type":"mqtt out","z":"4f2d3df.1cef6c4","name":"","topic":"curso/ferrer/chat","qos":"","retain":"","broker":"c05e094a.9d79c","x":520,"y":1080,"wires":[]},{"id":"a3d2f187.519d58","type":"mqtt in","z":"4f2d3df.1cef6c4","name":"","topic":"curso/+/chat","qos":"2","datatype":"auto","broker":"c05e094a.9d79c","x":360,"y":1160,"wires":[["9b0ec86e.c49e3","4eab5413.2e3c24"]]},{"id":"9b0ec86e.c49e3","type":"ui_text","z":"4f2d3df.1cef6c4","group":"46efc115.9e6568","order":3,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":540,"y":1160,"wires":[]},{"id":"1a81faf5.7a76f5","type":"change","z":"4f2d3df.1cef6c4","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":1020,"wires":[["20e778fc.7c693"]]},{"id":"5c36ab7d.44f97c","type":"ngrok","z":"9d641e0c.40e228","port":"1880","creds":"b36e9e0b.77c3","region":"us","proto":"http","subdomain":"","name":"","auth":"","x":480,"y":160,"wires":[["749a56ef.00fa2"]]},{"id":"3b84319f.e5a98e","type":"inject","z":"9d641e0c.40e228","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"on","payloadType":"str","x":320,"y":120,"wires":[["5c36ab7d.44f97c"]]},{"id":"7e014927.0cbe78","type":"inject","z":"9d641e0c.40e228","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"off","payloadType":"str","x":320,"y":200,"wires":[["5c36ab7d.44f97c"]]},{"id":"749a56ef.00fa2","type":"debug","z":"9d641e0c.40e228","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":650,"y":160,"wires":[]},{"id":"95f20157.36e018","type":"mqtt out","z":"c697b1e5.a70cc8","name":"","topic":"curso/ferrer/pc","qos":"0","retain":"","broker":"b41765bb.61a42","x":360,"y":100,"wires":[]},{"id":"ff1fca22.9e93b","type":"inject","z":"c697b1e5.a70cc8","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"off","payloadType":"str","x":130,"y":20,"wires":[["95f20157.36e018"]]},{"id":"bca5a85c.7142e8","type":"debug","z":"c697b1e5.a70cc8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":710,"y":180,"wires":[]},{"id":"ae4e61ed.35cd8","type":"mqtt in","z":"c697b1e5.a70cc8","name":"","topic":"curso/ferrer/pc","qos":"0","datatype":"auto","broker":"b41765bb.61a42","x":100,"y":180,"wires":[["a8ce1b80.bf3548"]]},{"id":"a8ce1b80.bf3548","type":"switch","z":"c697b1e5.a70cc8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"ls","vt":"str"},{"t":"eq","v":"notepad","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":310,"y":180,"wires":[["937cf50.2190908"],["9e6bf063.643678"]]},{"id":"937cf50.2190908","type":"exec","z":"c697b1e5.a70cc8","command":"ls","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":470,"y":180,"wires":[["bca5a85c.7142e8"],["bca5a85c.7142e8"],["bca5a85c.7142e8"]]},{"id":"9e6bf063.643678","type":"exec","z":"c697b1e5.a70cc8","command":"notepad","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":490,"y":260,"wires":[[],[],[]]},{"id":"cd3cdd07.396f68","type":"inject","z":"c697b1e5.a70cc8","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"notepad","payloadType":"str","x":140,"y":100,"wires":[["95f20157.36e018"]]},{"id":"35f2d96d.5a511e","type":"inject","z":"2dd651e6.cc1366","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":290,"y":80,"wires":[["ba23df65.1599b"]]},{"id":"ba23df65.1599b","type":"exec","z":"2dd651e6.cc1366","command":"hostname","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":480,"y":80,"wires":[["2e608200.b464ce"],["2e608200.b464ce"],["2e608200.b464ce"]]},{"id":"2e608200.b464ce","type":"debug","z":"2dd651e6.cc1366","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":740,"y":100,"wires":[]},{"id":"7991e5c.4c1089c","type":"nora-speaker","z":"2308eef5.c9fcca","devicename":"Analógico","roomhint":"","name":"","passthru":false,"step":5,"nora":"317a0052.454498","topic":"","x":230,"y":120,"wires":[["b7521cfb.7e7be8","bd0c79d5.821fd8"]]},{"id":"d2b665c2.4b8008","type":"nora-switch","z":"2308eef5.c9fcca","devicename":"Digital","roomhint":"","name":"","passthru":false,"nora":"317a0052.454498","topic":"","onvalue":"Enciende","onvalueType":"str","offvalue":"Apaga","offvalueType":"str","x":220,"y":240,"wires":[["c467b440.4bf898"]]},{"id":"b7521cfb.7e7be8","type":"debug","z":"2308eef5.c9fcca","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.volume","targetType":"msg","statusVal":"","statusType":"auto","x":530,"y":120,"wires":[]},{"id":"c467b440.4bf898","type":"debug","z":"2308eef5.c9fcca","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":520,"y":240,"wires":[]},{"id":"bd0c79d5.821fd8","type":"debug","z":"2308eef5.c9fcca","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.on","targetType":"msg","statusVal":"","statusType":"auto","x":530,"y":180,"wires":[]},{"id":"6bac6514.d3a3ec","type":"nora-switch","z":"c877df74.d38288","devicename":"Bloc de Notas","roomhint":"","name":"","passthru":false,"nora":"317a0052.454498","topic":"","onvalue":"Activa","onvalueType":"str","offvalue":"Apaga","offvalueType":"str","x":250,"y":120,"wires":[["c8918a84.0e7a58"]]},{"id":"c8918a84.0e7a58","type":"exec","z":"c877df74.d38288","command":"osk","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":450,"y":240,"wires":[[],[],[]]},{"id":"35776357.248f94","type":"nora-switch","z":"c877df74.d38288","devicename":"Teclado en Pantalla","roomhint":"","name":"","passthru":false,"nora":"317a0052.454498","topic":"","onvalue":"Activa","onvalueType":"str","offvalue":"Apaga","offvalueType":"str","x":220,"y":240,"wires":[["c8918a84.0e7a58"]]}]